<form  [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="btn">
    <button class="btn-add-button" type="submit" [disabled]="myForm.invalid" [class.disable-add]="myForm.invalid">Save</button>
    <button class="btn-cancel-button" routerLink="/recipe">Cancel</button>
  </div>

  <div class="form-group" [class.invalid]="myForm.controls['name'].invalid && myForm.controls['name'].touched">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="oldData.name" required formControlName="name">
  </div>
  <div class="form-group" [class.invalid]="myForm.controls['imageUrl'].invalid && myForm.controls['imageUrl'].touched">
    <label for="imageUrl">Image URL</label>
    <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="oldData.imageUrl" required formControlName="imageUrl">
  </div>
  <img src="{{myForm.get('imageUrl')?.value}}" alt="">
  <div class="form-group" [class.invalid]="myForm.controls['description'].invalid && myForm.controls['description'].touched">
    <label for="description">Description</label>
    <textarea id="description" name="description" [(ngModel)]="oldData.description" required formControlName="description"></textarea>
  </div>
</form>


