.content {
  flex: 1;
}

.image {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: 10px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container-item {
  display: flex;
  align-items: center;
}

