.btn-add-button{
  margin-top: 10px;
  background-color: green; /* Màu xanh */
  color: #ffffff; /* Màu trắng cho chữ */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-add-button:hover {
  background-color: darkgreen; /* Màu xanh khi di chuột hover */
}

.btn-cancel-button{
  margin-left: 10px;
  margin-top: 10px;
  background-color: indianred; /* Màu xanh */
  color: #ffffff; /* Màu trắng cho chữ */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-cancel-button:hover {
  background-color: darkred; /* Màu xanh khi di chuột hover */
}
